<section>
{{#if error }}
  <header><h1>{{ error }}</h1></header>
{{else}}
  <header><h1>{{ display_name }}</h1></header>
  <p>{{ description }}</p>
{{/if}}

  <footer>
    <nav>
    {{#each breadcrumb }}
      <a href='{{this}}'>{{@key}}</a>
    {{/each}}
    </nav>
  </footer>
</section>

