<header>
  <h1>{{ name }} </h1>
</header>
<article>
  <ul>
    {{#each treatments }}
    <li id={{ @key }}>
      <a href='#condition/{{../name}}/treatment/{{@key}}'>{{ display_name }}</a>
    </li>
    {{/each}}
  </ul>
</article>
